<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="A Job Board Web App">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title>{% block title %}Welcome!{% endblock %}</title>

   
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <!-- build:css styles/components/main.min.css -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  media="all">
            <link rel="stylesheet" href="{{ asset('css/bootflat.min.css') }}"  media="all">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}"  media="all">
            <!-- endbuild -->
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">_</span>
                    <span class="icon-bar">_</span>
                    <span class="icon-bar">_</span>
                  </button>
                  <cite class="navbar-brand logo"><strong>JobKey</strong></cite>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{{path('jobkey_homepage')}}">Home</a></li>
                    <li><a href="{{path('mnk_job')}}">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
     
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form class="" role="form">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter some keywords (city, country, position, ...)">
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
            </form>
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}
             <!-- build:js scripts/main.min.js -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- endbuild -->
        {% endblock %}
    </body>
</html>
