{% extends '::base.html.twig' %}

{% block body -%}
    <div class="center-block">
        <h1>Job list</h1>
        <br>
    </div>
    <a href="{{ path('mnk_job_new') }}" class="btn btn-warning">
        <strong>Post a Job</strong>
    </a>
    <br><br>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% for entity in entities %}
                <tr class="{{ cycle(['info','success'],loop.index) }}">
                    <td><img src="{{ asset('upload/jobs/'~entity.logo) }}" alt="{{entity.logo}}" width="90px" /></td>
                    <td>{{ entity.company }}</td>
                    <td>
                        <a href="{{ path('mnk_job_show', { 'id': entity.id, 'company': entity.company, 'location': entity.location, 'position': entity.position }) }}" class="btn btn-info">
                            {{ entity.position }}
                        </a>
                    </td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.location }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('mnk_job_show', { 'id': entity.id, 'company': entity.company, 'location': entity.location, 'position': entity.position }) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
                            
                                <a href="{{ path('mnk_job_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
